<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @how_to.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @how_to.description %>
</p>

<tbody>
  <% @steps.each do |step| %>
  <tr>
    <td><%= step.instructions %></td>
  </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_how_to_path(@how_to) %> |
<%= link_to 'Back', how_tos_path %> |
<%= link_to 'New Step', new_how_to_step_path(@how_to) %>
